{% load editor_form_tags %}
<fieldset data-form-type="controlaccess">
  <div class="fieldset-header">
    <h4>??</h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab()" aria-label="toggle tab"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_field form.id %}
    {% render_field form.controlaccess %}
    {% render_form_delete_widget form.DELETE %}
    {% with genreforms=form.formsets.genreforms %}
    <div class="formset">
      <div class="management_form">
        {{ genreforms.management_form }}
      </div>
      <div class="fieldsets">
        {% for genreform in genreforms.forms %}
        {% include "./genreform_inline_form.html" with form=genreform %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('genreform', this)">Add genreform
      </label>
    </div>
    {% endwith %}
    {% with geognames=form.formsets.geognames %}
    <div class="formset">
      <div class="management_form">
        {{ geognames.management_form }}
      </div>
      <div class="fieldsets">
        {% for geogname in geognames.forms %}
        {% include "./geogname_inline_form.html" with form=geogname %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('geogname', this)">Add place of origin
      </label>
    </div>
    {% endwith %}
    {% with persnames=form.formsets.persnames %}
    <div class="formset">
      <div class="management_form">
        {{ persnames.management_form }}
      </div>
      <div class="fieldsets">
        {% for persname in persnames.forms %}
        {% include "./persname_non_model_inline_form.html" with form=persname %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('persname', this)">Add associated person
    {% endwith %}
  </div>
</fieldset>
