{% load editor_form_tags %}
<fieldset data-form-type="source">
  <div class="fieldset-header">
    <h4>??</h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab()" aria-label="toggle tab"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    {% with sourceentries=form.formsets.sourceentries %}
    <h3>??</h3>
    <div class="management_form">
      {{ sourceentries.management_form }}
    </div>
    <div class="fieldsetes">
      {% for sourceentry in sourceentries.forms %}
      {% include "./sourceentry_inline_form.html" with form=sourceentry %}
      {% endfor %}
    </div>
    {% endwith %}
    <label class="create linked-button">
      <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('sourceentry', this)">Add source entry
    </label>
  </div>
  <br>
</fieldset>
