{% load editor_form_tags %}
<fieldset data-form-type="source">
  <div class="formset">
    {% with sourceentries=form.formsets.sourceentries %}
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    <div class="management_form">
      {{ sourceentries.management_form }}
    </div>
    <div class="fieldsets">
      {% for sourceentry in sourceentries.forms %}
      {% include "./sourceentry_inline_form.html" with form=sourceentry %}
      {% endfor %}
    </div>
    {% endwith %}
    <label class="create linked-button">
      <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('sourceentry', this)">Add source entry
    </label>
  </div>
</fieldset>
