.group {
    .page-title {
        text-align: left;
    }
    .grey-column {
        padding: 1.5em 0;
    }   
}

@media only screen and (max-width: 850px) {
	.group {
        .two-column-70-30 {
            gap: 0em;
            grid-template-columns: 1fr;
            .grey-column {
                grid-row: 1;
            }
        }
    }
}