.object-list {
    .page-description {
      text-align: justify;
      margin: auto;
    }
    .list-summary {
      margin-top: 2em;
      background-color: lighten($grey-light, 7%);
      .summary {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: auto auto auto;
        align-items: center;
        .search-field {
          max-width: 480px;
          margin: 1em 0;
          input{
            font-size:0.8em;
          }
          .search-button {
            font-size:1.1em;
          }
        }
        .sort-by-section {
          justify-self: flex-end;
          fieldset {
            display: inline-block;
            label {
              margin-right: 10px;
            }
            &:after{
              content: "\F078";
              font-weight: 100;
              font-family: $fontawesome;
              position:relative;
              right:1.3em;
              color: $grey-dark;
              }
            .sort-by {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background:transparent;
              padding: 0.5em 1.5em 0.5em 0.3em;
              position:relative;
              z-index: 9;
            }
          }
          .asc-desc {
            padding:0 0 0 0.5em;
            i {
              color: $grey-dark;
              font-family: $fontawesome;
              font-weight: 300;
              font-size: 1.2em;
              position: relative;
              top: -0.5em;
              &:hover, &:focus {
                color: $primary;
              }
            }//i
          }//.asc-desc
        }//.sort-by-section 
      }
    }
    .two-column-20-80 {
      margin-top: 2em;
      .filters {
        box-sizing: border-box;
        min-width: 285px;
        &.active {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
        }
                  h2{
            font-size: 1.1em;
    margin: 0 0 0.95em 0;
    text-align: center;
    background: #fafafa;
    padding: 0.5em 0;
          }
        > div {
          .filtergroup{
            border:1px solid $grey-light;
            margin-bottom:2em;
            h3{
              background:$primary;
              padding:0.4em;
              color: white;
              margin-top:0;
              text-transform: uppercase;
              text-align: center;
              font-size: 1em;
              .tooltip { 
                position: relative;
                display: inline-block;
                margin-left:0.5em;
                font-size:0.7em;
                text-transform: none;
                border:1px solid white;
                width:1.3em;
                height:1.3em;
                border-radius:50%;
                cursor: pointer;
                &:before{
                  content:"i";
                  position:absolute;
                  font-style: italic;
                  left:0.45em;
                  top:-0.3em;
                }
                .tooltiptext {
                visibility: hidden;
                border:1px solid $grey-light;
                background:black;
                color: white;

                /* Position the tooltip */
              font-size:1.3em;
              position:absolute;
              width:15em;
              left:-5em;
              bottom:170%;
              padding:0.5em 1em;
              z-index: 9;
              }//.tooltiptext
                &:hover{
                  .tooltiptext{
                    visibility: visible;
                  }
                }//&:hover
              }//tooltip
            }
          }
          input[type=text] {
            width: 100%;
            margin: 0.5em 0em;
            box-sizing: border-box;
          }
          .count {
            color: $primary-dark;
            font-family: $font-primary;
            font-weight: 400;
            font-size:0.8em;
            padding-left:0.2em;

          }
          .facets {
            overflow: hidden;
            margin-bottom: 0.5em;
            .facet {
              display: block;
              margin: 5px 0px;
              color: black;
              font-size: 0.95em;
              input[type=checkbox] {
                margin-right: 3px;
              }
            }
            // &.active {
            //   max-height: 100%;
            // }
          }
          fieldset {
            position: relative;
            padding: 0 1em 0 0.8em;
            label {
              margin: 0.5em 0;
              cursor: pointer;
            }
            &:not(:first-of-type) {
              margin: 2em 0em 1em 0em;
            }
            .toggle-checkbox {
              display: none;
            }
            .toggle-label {
              position: absolute;
              right: 0.5em;
              top: -1.9em;
              margin: 0;
              width: 100%;
              text-align: right;
              &:after {
                content: '\f078';
                font-family: $fontawesome;
                font-weight: 100;
                color: $grey-primary;
              }
              &:hover{
                &:after {
                color: $primary;
                }
              }
            }
            .toggle-section {
              display: none;
            }
            .toggle-checkbox:checked + .toggle-label {
              &:after {
                content: '\f077';
              }
              +.toggle-section {
                display: block;
                
              }
            }
            legend {
              padding-bottom: 0.3em;
              margin-bottom: 0.3em;
              font-weight: 600;
              border-bottom: 1px solid $grey-light;
              width: 100%;
              font-size: 0.9em;
            }
          }
          h5, legend {
            text-transform: uppercase;
            margin-bottom: 0.5em;
          }
          .range {
            margin-bottom: 1.5em;
            input[type=number] {
              font-family: $font-primary;
              padding: 0.2em 0.5em;

            }
            .button-primary{
              padding: 5px 20px 4px 20px;
            }
            legend {
              border-bottom: 0;
              padding: 0;
              margin: 0;
            }
            .noUi-target {
              box-shadow: none;
            }
            .noUi-horizontal {
              height: 10px;
              margin-top: 1em;
              .noUi-handle {
                width: 30px;
                height: 30px;
                top: -10px;
              }
            }
            .noUi-handle {
              border-radius: 50%;
              box-shadow: none;
              cursor: pointer;
              &:before {
                left: 12px;
                top: 9px;
                height: 10px;
                background: $primary;
              }
              &:after {
                left: 15px;
                height: 10px;
                top: 9px;
                background: $primary;
              }
              &:focus, &:hover {
                border: 1px solid $primary;
                outline: none;               
              }
            }
            .range-year {
              width: 40px;
            }
            .button-primary {
              margin-left: 1em;
            }
          }
        }
      }
      .objects{
        width: 100%;
        .selected-facets {
          margin-bottom: 2em;
          .facet {
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            display: inline-block;
            cursor: pointer;
            padding: 5px 15px;
            color: $primary;
            border:1px dotted $primary;
            &:hover, &:focus{
              background:$primary-dark;
              color:white;
            }
            input[type=checkbox] {
              display: none;
            }
            &:before {
              content: '\f00d';
              font-weight: 300;
              font-family: $fontawesome;
              margin-right: 0.3em;
            }
            &:last-of-type {
              margin-right: 2em;
            }
          }
          .clear-filters {
            color: white;
            background-color: $grey-dark;
            padding: 0.35em 0;
            width: 9em;
            &:before {
              content: '\f00d';
              font-family: $fontawesome;
              margin-right: 7px;
              font-weight: 300;
              display: inline-block;
            }
            &:focus, &:hover {
              background-color: $primary-dark;
            }
          }
        }
        .list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0;
          padding: 0;
          .list-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            max-width: 24%;
            margin: 0.5em 0.7% 2em 0em;
            overflow: hidden;
            border: 1px solid $grey-light;
            transition: 0.2s ease-in;
            > a {
              text-decoration: none;
              color: black;
              height: 100%;
              width: 100%;
              border: 0;
              &:hover {
                background-color: darken(white, 1%);
              }
              .object-thumbnail {
                height: 17em;
                max-width: 17em;
                overflow: hidden;
                background-color: $grey-light;
                display: flex;
                justify-content: center;
                align-content: center;
                img {
                  object-fit: cover;
                  max-height: 100%;
                  max-width: 100%;
                }
              }
              .object-description {
                padding: 0 1em 1em 1em;
                h4 {
                  color: $primary-dark;
                  line-height: 1.4em;
                  margin: 0.7em 0 0 0;
                }
                p {
                  color: black;
                  &.details {
                    margin-bottom: 5px;
                    font-size: 0.9em;
                  }
                }
              }
            }
            .connected-to {
              background-color: lighten($grey-light, 5%);
              padding: 1em;
              p {
                margin: 0;
                a {
                  color: $primary;
                  text-decoration: none;
                }
              }
            }
          }
        }
        button.button-secondary {
          display: block;
          margin: 2em auto !important;
          background:$grey-dark;
          color: white;
          &:hover, &:focus{
            background: $primary-dark;
          }
        }
      }
    }
}

@media only screen and (max-width: 1500px) {
  .object-list {
      .two-column-20-80 {
        .objects {
          .list {
            margin-left: 0em;
            padding: 0;
            .list-item {
              max-width: 32%;
              margin: 0.5em 0.9% 2em 0;
              > a .object-thumbnail {
                width: 100%;
                height: 14em;
              }
            }
          }
        }
      }
  }
}

@media only screen and (max-width: 1190px) {
  .object-list {
      .two-column-20-80 {
        display: block; 
        .filters {
          max-width: 400px;
          position: fixed;
          height: 100vh;
          right: 0;
          top: 0;
          z-index: 99;
          min-width: 200px;
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          -webkit-transition: -webkit-transform 0.4s ease-in;
          transition: -webkit-transform 0.4s ease-in;
          transition: transform 0.4s ease-in;
          transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
          background-color: white;
          padding: 1em;
          box-shadow: -1px 0px 1px $grey-primary;
          overflow-y: scroll;
          > div {
            margin-top: 25px;
            margin-bottom: 20px;
            overflow-y: auto;
            height: 90vh;
            padding: 0 20px;
          .filtergroup{
            h3{
              .tooltip { 
                &:before{
                  left:0.45em;
                  top:-0.25em;
                }
                .tooltiptext {
                /* Position the tooltip */
              width:15em;
              left:-10.5em;
              bottom:180%;
              padding:0.5em 1em;
              z-index: 9;
              }//.tooltiptext
              }//tooltip
            }
          }

          }

          .filter-button {
            background:transparent;
            border: none;
            padding: 0;
            color: $grey-dark;
            position: absolute;
            right: 1em;
            &:before {
              content: '\f00d';
              margin-right: 7px;
              font-family: $fontawesome;
              font-weight: 300;
              display: inline-block;
            }
            &:hover, &:focus {
              color: $primary-dark;
            }
          }// .filter-button
          h2{
            border-bottom: 7px solid rgba(6, 83, 107, 0.1);
            padding-left:0.5em;
            margin:1.5em 0 0 0.5em;
            font-size:1.1em;
          }
        }
        .objects {
          .list {
            margin-left: 0em;
            padding: 0;
            .list-item {
                max-width: 24%;
                margin: 0.5em 0.7% 2em 0;
              > a .object-thumbnail {
                width: 100%;
                height: 14em;
              }
            }
          }
        }
      }
      .list-summary {
        .summary {
          div {
            .button-primary {
              display: inline-block;
              margin-left: 10px;
              background: $grey-dark;
              position: relative;
              top: -0.8em;
              /*&:after {
                content: '\f0b0';
                font-family: $fontawesome;
                font-weight: 300;
              }*/
              &:hover,&:focus{
                background:$primary-dark;
              }
            }
          }
          .sort-by-section {
            .asc-desc {
              padding-right: 0.8em;
            }
          }
          
        }
         
      }
    }
}

@media only screen and (max-width: 790px) {
  .object-list {
      .list-summary {
        .summary {
          grid-template-columns: auto 1fr;
          grid-column-gap: 0;
          fieldset label {
            display: none;
          }
          .search-field {
            grid-column-end: span 3;
            max-width: 100%;
          }
          div {
            margin-bottom: 10px;
            grid-column-end: 3;
          }
        }
      }
      .two-column-20-80 {
        .filters {
          >div .range {
            .button-primary {
              margin-left: 0.5em;
            }
          }
        }
        .objects {
          .list {
            .list-item {
              max-width: 32%;
              margin: 0.5em 0.9% 2em 0em;
              > a .object-thumbnail {
                height: 14em;
              }
            }
          }
        }
      }
    }
}
@media only screen and (max-width: 520px) {
  .object-list {
      .page-description {
        display: none;
      }
      .list-summary {
        margin-top: 0;
        .summary {
          display: block;
          .search-field {
            grid-column-end: span 3;
            margin: 0.5em 0;
          }
          p {
            margin: 0 0 0.5em 0;
            grid-column-end: span 3;
          }
          div {
            margin-bottom: 10px;
            grid-column-end: 3;
          }
        }
      }
      .two-column-20-80 {
        .filters {
          width: 80%;
        }
        .objects {
          .list {
            .list-item {
              width: 100%;
              margin: 0em auto 1.5em auto;
              max-width: 30em;
              > a .object-thumbnail {
                height: 12em;
                max-width: 30em;
              }
            }
          }
        }
      }
    }
}
@media only screen and (max-width: 340px) {
  .object-list {
      .list-summary {
        margin-top: 0;
      }
      .two-column-20-80 {
        .filters {
          .filter-button {
            margin-left: 30%;
          }
        }
      }
    }
}