{% extends "base.html" %}
{% block main %}
<main id="record-edit">
  {% block page_header %}
  <div class="header-fixed">
    <div class="status-bar">
      <input type="checkbox" id="document-status-checkbox" class="none" value="Document status" aria-label="document-status"/>
      <label class="mobile-only" for="document-status-checkbox">Status</label>
      <div class="mobile-hide">
        <ul>
          <li>Publication status: <span class="highlight{% if is_deleted %} danger-clear{% endif %}">{{ record.publicationstatus_value }}{% if is_deleted %} (deleted){% endif %}</span></li>
          <li>Maintenance status: <span class="highlight">{{ record.maintenancestatus_value }}</span></li>
          <li>Updated: <span class="highlight">{{ last_revision.date_created }}</span> by <span class="highlight">{{ last_revision.user }}</span></li>
          <li>
            <a href="{% url 'editor:record-history' pk=record.pk %}">
              <i class="far fa-clock"></i>
              <span class="dotted-underline">History</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="action-buttons">
      {% if not is_deleted %}<button aria-label="delete" class="danger-clear" onclick="showModal('delete-modal')"><i class="far fa-trash-alt"></i> Delete</button>{% endif %}
      {% if wizard.steps.prev %}
      <button form="record-form" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
      <button form="record-form" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
      {% endif %}
      <input type="submit" value="{% if is_deleted %}Restore{% else %}Save{% endif %}" form="record-form" class="save"/>
    </div>
  </div>
  {% endblock page_header %}

  {% block content %}
  <div class="form-header">
    <div class="breadcrumbs">
      <ul>
        <li><a href="{% url 'editor:record-list' %}" class="dotted-underline">Archival records</a></li>
      </ul>
    </div>
    {% if form_errors %}
    <div class="error-notification">
      <button class="icon-only" aria-label="close notification" onclick="removeNotification()">&#xf00d;</button>
      <h4>Errors</h4>
      {% for errors in form_errors.non_field %}
      <p>{{ error }}</p>
      {% endfor %}
      {% if form_errors.field %}
      <p>There are field-specific errors; please check the form and correct.</p>
      {% endif %}
    </div>
    {% endif %}

    {% if saved %}
    <div class="success-notification">
      <button class="icon-only" aria-label="close notification" onclick="removeNotification()">&#xf00d;</button>
      <h4>Your edits were successfully saved.</h4>
    </div>
    {% elif reverted %}
    <div class="success-notification">
      <button class="icon-only" aria-label="close notification" onclick="removeNotification()">&#xf00d;</button>
      <h4>The version was sucessfully restored, (version id: {{ reverted }}).</h4>
    </div>

    {% endif %}

    <h1>{{ record }}</h1>
  </div>

  <form action="" id="record-form" method="post">
    {% block form_sections %}{% endblock form_sections %}
  </form>
  <div id="empty_forms" style="display: none;">
    {% comment %}Include an empty form for each sub-form on the page,
    to allow for JS creation of new forms, rather than supplying a set
    number of extra forms server-side.{% endcomment %}
    {% block empty_forms %}{% endblock empty_forms %}
  </div>
  {% endblock content %}
</main>
{% endblock main %}
