{% extends "base.html" %}
{% block main %}
<main>
  {% block content %}
  <a href="{{ edit_url }}"><i class="fas fa-chevron-left margin-right"></i><span class="dotted-underline">Back to {{ object|truncatewords:15 }}</span></a>

  <h1><span class="highlight">History:</span> {{ object|truncatewords:15 }}</h1>

  <form action="{% url 'editor:revert' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="redirect_url" value="{{ edit_url }}"/>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Version ID</th>
            <th>Updated</th>
            <th>User</th>
            <th>Logged comment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for version in versions %}
          <tr>
            {% with revision=version.revision %}
            <td>{{ version.revision_id }}</td>
            <td>{{ revision.date_created }}</td>
            <td>{{ revision.user }}</td>
            <td class="description">{{ revision.comment }}</td>
            <td><button aria-label="revert changes" class="button-link" name="revision_id" type="submit" value="{{ revision.id }}"><i class="fas fa-history"></i>Restore<br>this version</button></td>
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% endblock content %}
</main>
{% endblock main %}
