{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>
<div class="resources-page">
  <h1 class="page-title">Resources</h1>
  <h2>{{ page.title }}</h2>
  <div class="two-column-50-50">
    {% for block in page.body %}
      {% if block.block_type == 'heading' %}
        <h2>{{ block.value }}</h2>
      {% else %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  </div>

</div>
</body>
</html>
