{% load editor_form_tags %}
<fieldset data-form-type="maintenanceevent">
  <div class="fieldset-header">
    <h4>Maintenance Event</h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab()" aria-label="toggle tab"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    <div class="two-column-table">
      <div>
        {% render_field form.agent %}
        {% render_field form.agenttype_value %}
      </div>
      <div>
        {% render_field form.eventtype_value %}
      </div>
    </div>
    {% with eventdescriptions=form.formsets.eventdescriptions %}
    <h3>EVENT DESCRIPTIONS ({{ eventdescriptions.management_form.INITIAL_FORMS.value|default:"0" }})</h3>
    <div class="management_form">
      {{ eventdescriptions.management_form }}
    </div>
    <div class="fieldsets">
      {% for eventdescription in eventdescriptions.forms %}
      {% include "./eventdescription_inline_form.html" with form=eventdescription %}
      {% endfor %}
    </div>
    {% endwith %}
    <label class="create linked-button">
      <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('eventdescription', this)">Add event description
    </label>
  </div>
  <br>
</fieldset>
