{% load editor_form_tags %}
<div data-form-type="unitdatestructured">
  <div class="fieldset">
    {% render_field form.id %}
    {% render_field form.datechar %}
    {% with dateranges=form.formsets.dateranges %}
    <div class="formset">
      <div class="management_form">
        {{ dateranges.management_form }}
      </div>
      <div class="fieldsets">
        {% for daterange in dateranges.forms %}
        {% include "./daterange_inline_form.html" with form=daterange %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endwith %}
</div>
