{% load compress static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShaRC Collaborative Workspace</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    {% block head_css %}
    <link rel="stylesheet" href="{% static 'css/richtext.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'sass/project.scss' %}" type="text/x-scss" />
    {% endcompress %}
    {% endblock head_css %}
    {% block head_js %}{% endblock head_js %}
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    {% block header %}
    <header>
      <div id="logo">
        {% comment %}<a href="{% url 'editor:home' %}"><img src="{% static 'images/GPPLogo.png' %}" alt="GPP logo" /></a>{% endcomment %}
      </div>
      <input type="checkbox" id="mobile_nav_checkbox" aria-label="checkbox to open the menu"/>
      <label for="mobile_nav_checkbox" id="mobile_nav">
        <span class="for-screen-readers">Menu</span>
        <span class="line1" aria-hidden="true"></span>
        <span class="line2" aria-hidden="true"></span>
        <span class="line3" aria-hidden="true"></span>
      </label>
      <nav id="menu-links">
        <div class="link{% if current_section == 'home' %} active{% endif %}">
          <a href="{% url 'editor:home' %}">
            <i class="fal fa-home"></i>
            <h4>Dashboard</h4>
          </a>
        </div>
        <div class="link{% if current_section == 'records' %} active{% endif %}">
          <a href="{% url 'editor:record-list' %}">
            <i class="fal fa-archive"></i>
            <h4>Archival records</h4>
          </a>
        </div>
        {% comment %}<div class="link{% if current_section == 'deleted' %} active{% endif %}">
          <a href="{% url 'editor:deleted-list' %}">
            <i class="far fa-trash-alt"></i>
            <h4>Deleted</h4>
          </a>
        </div>{% endcomment %}
      </nav>
      {% comment %}<div id="menu-account">
        <div class="link{% if current_section == 'account' %} active{% endif %}">
          <a href="{% url 'editor:account-control' %}">
            <i class="fal fa-user"></i>
            <h4>Account control</h4>
          </a>
        </div>
        <div class="link">
          <a href="{% url 'editor:logout' %}" id="logout">
            <i class="far fa-sign-out-alt"></i>
            <h4>Logout</h4>
          </a>
        </div>
      </div>{% endcomment %}
    </header>
    {% endblock %}
    {% block main %}
    {% block page_header %}
    {% endblock page_header %}
    {% block content %}
    {% endblock content %}
    {% endblock main %}
    {% block footer %}
    <footer>
      {% comment %}<p><a href="{% url 'editor:guidance' %}" class="highlight">How to use</a><span class="divider"></span><a href="{% url 'editor:accessibility-statement' %}">Accessibility statement</a></p>{% endcomment %}
      <p>© {% now "Y" %} Designed, developed and maintained by <a href="https://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
    </footer>
    {% endblock footer %}
    {% block end_js %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/simplePagination/jquery.simplePagination.js' %}"></script>
    <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/sugar/sugar.min.js' %}"></script>
    <script src="{% static 'js/tablesorter/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/tablesorter/jquery.tablesorter.widgets.js' %}"></script>
    <script src="{% static 'js/tablesorter/parser-date.js' %}"></script>
    <script src="{% static 'js/tablesorter/pager-custom-controls.js' %}"></script>
    <script src="{% static 'js/tablesorter/addons/pager/jquery.tablesorter.pager.min.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    {% endblock end_js %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
